{% extends 'layout.html' %}
{% load static%}
{% block content %}

<div class="container">
  <div class="row  ">
  
    <div class="col-12 col-md-12">
  
      <div class="search">
        <i class="fa fa-search"></i>
        <form method= POST action="{%url 'search-flat'%}" >
          {% csrf_token %}
        <input type="text" class="form-control" placeholder="Search For Rooms" name="search">
        <button class="btn  btn-outline-secondary">Search</button>
        </form>
  
      </div>
    </div>

<center>
    {%if search%}
        <h2>
            You searched for {{search}}
        </h2>
        <br>
        {%for flat in  flats%}
            <div class="container">

  <div class="card">

    <div class="row">

      <div class="col-sm-4">
        <a href="{% url 'flats' flat.slugs flat.id%}"> <img src="{{flat.images.url}}" alt="" style="width: 300px;"> </a>
      </div>
      <div class="image-box col-sm-6">
        <div class="card-block">
          <!--           <h4 class="card-title">Small card</h4> -->
          <h4><b>{{ flat }}</b></h4>
          {% comment %} <p>{{flat.description}}</p> {% endcomment %}
          <p>Location: {{flat.location}}</p>
          <p>Rs. {{flat.price}}</p>

          <a href="{% url 'flats' flat.slugs flat.id%}" class="btn btn-dark btn-sm float-right"
            style="padding:10px ;">View More</a>



        </div>
      </div>

    </div>

  </div>
  <br>

</div>

</div>
        {%endfor%}

        {%else%}
        <h2>No results found for "{{ search }}"</h2>
        <hr>
        
    {%endif%}

</center>

{% endblock %}